<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalInput">
    Modify a Input
</button>


<div class="modal fade" id="modalInput" tabindex="-1" aria-labelledby="modalInput" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalInputLabel">{{title}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <select  #dropdown class="form-select form-select-lg mb-3" aria-label="Large select example" [(ngModel)]="selectValue" >
                <option *ngFor="let t of type" [value]=t.value >{{t.name}}</option>
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="mdSelection()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
