
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"> Open Editor</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Editor the Forms</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>FORMS</p>
    <select  #dropdownLateral class="form-select form-select-lg mb-3" aria-label="Large select example" [(ngModel)]="selectValue" >
      <option *ngFor="let t of type" [value]=t.value >{{t.name}}</option>
  </select>
  <button type="button" class="btn btn-primary" (click)="mdSelection()">Save changes</button>
  </div>
</div>
<br>
